# =========================================
# POSTGRES (local, via serviço "db")
# =========================================
POSTGRES_DB=your_next_movie
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

# =========================================
# DJANGO
# =========================================
DJANGO_SECRET_KEY=django-insecure-local-dev-key
DJANGO_DEBUG=True

# Permite desenvolvimento local
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

# =========================================
# CELERY + REDIS
# =========================================
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# =========================================
# SUPERUSER AUTOMÁTICO (opcional)
# =========================================
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin123